rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // الحساب الوحيد المسموح له باستخدام النظام
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'mohammedhesham872@gmail.com';
    }

    // Students
    match /students/{studentId} {
      allow read, write: if isAdmin();
    }

    // Exams
    match /exams/{examId} {
      allow read, write: if isAdmin();
    }

    // Results
    match /results/{resultId} {
      allow read, write: if isAdmin();
    }

    // Teacher Settings
    match /settings/{settingId} {
      allow read, write: if isAdmin();
    }

    // Connection Test
    match /test/{testId} {
      allow read, write: if isAdmin();
    }
  }
}